body {
	background-color: @dark;
}

@padding: 2em;
@headerH: 5em;

.intro {
	width: 100%;
}

.intro-main-wrapper {
	padding-top: @headerH + @padding * 2 ;
	padding-bottom: @padding * 2;
	text-align: center;
	background: url('../images/wooden.jpg') center 0 no-repeat;
	background-size: 100% 100%;
	.intro-main {
		padding: @padding;
		font-size: @large;
		display: inline-block;
		background-color: #fff;
		border-radius: 1em;
		box-shadow: 6px 6px 4px fade(@dark, 50%);
		.status {
			.bold();
			font-size: @normal;
			color: @orange;
		}
		.name {
			.tagline {
				.bold();
				border-bottom: 2px solid @yellow;
				margin-bottom: 1em;
				display: inline-block;
			}
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			line-height: 1.5em;
		}
		.input {
			font-size: @large;
			background-color: @light;
			padding: 0.6em;
			font-family:inherit;
			color: @dark;
		    border: 1px solid fade(@dark, 50%);
		}
		.msg {
			margin-top: 2em;
			font-size: @small;
			color: @grey;
		}
		.view-single {
			#view-icon-intro;
			#view-icon;
			#view-icon-single;
		}
		.view-match {
			#view-icon-intro;
			#view-icon;
			#view-icon-match;
		}
		@picSize: 80px;
		.user {
			.pic {
				width: @picSize;
				height: @picSize;
				border-radius: @picSize/2;
				-webkit-border-radius: @picSize/2;
				-moz-border-radius: @picSize/2;
				margin: 1em auto 0;
				background-size: @picSize;
			}
			.name {
				font-size: @large;
				.bold();
				margin-top: 0.5em;
			}
			.location, .timezone {
				margin-top: 0.5em;
				font-size: @small;
			}
		}
		.list {
		    background-color: @light;
		    border: 1px solid fade(@dark, 50%);
			font-family:inherit;
			font-size: @normal;
			margin-top: 1em;
		}
		.start {
			margin-top: 1em;
			.bold();
		}
		.start-single {
			margin-top: 1.5em;
		}
	}
	.untappd {
		padding-top: 1em;
		text-align: center;
	}

}
.intro-content, .intro-header {
	.container {
		.90p();
	}
}
.intro-content {
	background: @white;
	font-size: @large;
	padding-top: @padding;
	padding-bottom: @padding;
	strong {
		.bold();
		color: @red;
	}
	line-height: 1.5em;
	a {
		color: @orange;
	}
}
.even {
	background-color: @light;
}
.intro-header {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: @small;
	.logo {
		text-align: center;
		margin: 0 auto;
		margin-top: -5em;
		font-size: large;
		width: @headerH * 2;
		background: url('../images/logo_big.png') center @headerH * -1 no-repeat;
		height: @headerH;
		background-size: @headerH * 2 @headerH * 2;
	}
	.header {
		width: 90%;
		padding: 1em 5%;
		margin-top: 1.5em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: @dark;
		background-color: @light;
	    -webkit-transition-property: background-color;
		-webkit-transition-duration: 600ms;
		-webkit-transition-timing-function: linear;
		box-shadow: 0 0 6px @dark;
		.links {
			font-size: @normal;
			span {
				margin-right: 1em;
				font-size: @normal;
				letter-spacing: 0.1em;
				line-height: @large;
			}
			span:hover {
				color: @grey;
			}
		}
		.icons {
			span {
				color: @light;
				width: 2em;
				height: 2em;
				display: inline-block;
				background-color: @dark;
				border-radius: 1em;
				margin-left: 0.2em;
				i {
					padding-top: 0.5em;
				}
			}
			.facebook i {
				margin-left: 0.3em;
			}
			span:hover {
				background-color: @dark;
				color: @grey;
			}
		}
	}
	.header-scrolled {
		position: fixed;
		top: 0;
	    background-color: @dark;
	    color: @white;
	    padding: 0.5em 5%;
	    margin-top: 0;
	    -webkit-transition-property:color;
		-webkit-transition-duration: 400ms;
		-webkit-transition-timing-function: linear;
		.icons span {
			background-color: @dark;
		}
	}
}
.footer {
	position: fixed;
	z-index: -1;
	bottom: 0;
	color: @grey;
	font-size: @small;
	padding: 40px 5%;
    text-align: left;
    a {
        color: @yellow;
        text-decoration: none;
    }
}