body {
	background: url('../images/intro_bg_star.png') @dark;
	background-size: 150px 150px;
}

@padding: 2em;
@headerH: 5em;

.intro {
	width: 100%;
}
.intro-main-wrapper {
	padding-top: @headerH + @padding * 2 ;
	padding-bottom: @padding * 2;
	text-align: center;
}
.intro-main {
	padding: @padding;
	font-size: @large;
	display: inline-block;
	background-color: #fff;
	border-radius: 1em;
}
.intro-untappd {
	padding-bottom: 1em;
	text-align: center;
}
.intro-about, .intro-credit, .intro-vis {
	font-size: @large;
	padding: @padding 10%;
	strong {
		.bold();
		color: @red;
	}
	line-height: 1.5em;
	a {
		color: @orange;
	}
}
.intro-about, .intro-credit {
	background-color: @light;
}
.intro-vis {
	background-color: #fff;
}

.intro-header {
	position: fixed;
	top: 0;
	width: 100%;
	height: @headerH * 3/4;
	color: #fff;
	background-color: @dark;
	text-align: center;
}
.intro-logo {
	width: @headerH * 2;
	margin: 0 auto;
	background: url('../images/logo_big.png') center @headerH * -1 no-repeat;
	height: @headerH;
	background-size: @headerH * 2 @headerH * 2;
}
.intro-links {
	position: absolute;
	left: 0;
	top: 0;
	margin-left: @padding;
	margin-top: @headerH / 2 - 1.3em;
	span {
		margin-right: 1em;
	}
}
@icon: 2.5em;
.intro-icons {
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: -1 * (@icon * 3 + 1.5em + @padding);
	margin-top: (@headerH * 3/4 - @icon) / 2;
	span {
		text-indent: 1000px;
		margin-left: 0.5em;
		width: @icon;
		height: @icon;
		display: inline-block;
	}
	.facebook {
		background: url('../images/social.png') 0 0 no-repeat;
		background-size: @icon * 3 @icon;
	}
	.twitter {
		background: url('../images/social.png') -1 * @icon 0 no-repeat;
		background-size: @icon * 3 @icon;
	}
	.google {
		background: url('../images/social.png') -2 * @icon 0 no-repeat;
		background-size: @icon * 3 @icon;
	}
}

/* intro main */
.intro-status {
	font-weight: 700;
	font-size: @normal;
	color: @orange;
}
.intro-name {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 1.5em;
}
.intro-input {
	font-size: @large;
	background-color: @light;
	padding: 0.6em;
	font-family:inherit;
	font-weight: 700;
	color: @dark;
    border: 1px solid @dark;
}
.intro-msg {
	margin-top: 3em;
	font-size: @small;
	color: @grey;
}
.intro-view-single {
	#view-icon-intro;
	#view-icon;
	#view-icon-single;
}
.intro-view-match {
	#view-icon-intro;
	#view-icon;
	#view-icon-match;
}

@picSize: 80px;
.intro-user {
	.pic {
		width: @picSize;
		height: @picSize;
		border-radius: @picSize/2;
		-webkit-border-radius: @picSize/2;
		-moz-border-radius: @picSize/2;
		margin: 1em auto 0;
		background-size: @picSize;
	}
	.name {
		font-size: @large;
		font-weight: 700;
		margin-top: 0.5em;
	}
	.location, .timezone {
		margin-top: 0.5em;
		font-size: @small;
	}
}
.intro-list {
    background-color: @lightBlue;
    border: 1px solid @dark;
	font-family:inherit;
	font-size: @normal;
	margin-top: 1em;
}
.intro-start {
	margin-top: 1em;
	font-weight: 700;
}
.intro-start-single {
	margin-top: 1em;
}