body {
	background: url('../images/bg.png') @dark;
	background-size: 150px 150px;
}

@padding: 2em;
@headerH: 5em;

.intro {
	width: 100%;
}

.intro-main-wrapper {
	padding-top: @headerH + @padding * 2 ;
	padding-bottom: @padding * 2;
	text-align: center;
	background-color: @dark;
	.intro-main {
		padding: @padding;
		font-size: @large;
		display: inline-block;
		background-color: #fff;
		border-radius: 1em;
		.status {
			font-weight: 700;
			font-size: @normal;
			color: @orange;
		}
		.name {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			line-height: 1.5em;
		}
		.input {
			font-size: @large;
			background-color: @light;
			padding: 0.6em;
			font-family:inherit;
			font-weight: 700;
			color: @dark;
		    border: 1px solid @dark;
		}
		.msg {
			margin-top: 3em;
			font-size: @small;
			color: @grey;
		}
		.view-single {
			#view-icon-intro;
			#view-icon;
			#view-icon-single;
		}
		.view-match {
			#view-icon-intro;
			#view-icon;
			#view-icon-match;
		}

		@picSize: 80px;
		.user {
			.pic {
				width: @picSize;
				height: @picSize;
				border-radius: @picSize/2;
				-webkit-border-radius: @picSize/2;
				-moz-border-radius: @picSize/2;
				margin: 1em auto 0;
				background-size: @picSize;
			}
			.name {
				font-size: @large;
				font-weight: 700;
				margin-top: 0.5em;
			}
			.location, .timezone {
				margin-top: 0.5em;
				font-size: @small;
			}
		}
		.list {
		    background-color: @lightBlue;
		    border: 1px solid @dark;
			font-family:inherit;
			font-size: @normal;
			margin-top: 1em;
		}
		.start {
			margin-top: 1em;
			font-weight: 700;
		}
		.start-single {
			margin-top: 1em;
		}
	}
}
.intro-untappd {
	background-color: @dark;
	padding-bottom: 1em;
	text-align: center;
}
.intro-content, .intro-header {
	.container {
		.90p();
	}
}
.intro-content {
	background: @white;
	font-size: @large;
	padding-top: @padding;
	padding-bottom: @padding;
	border-bottom: 1px solid fade(@lightGrey, 50%);
	strong {
		.bold();
		color: @red;
	}
	line-height: 1.5em;
	a {
		color: @orange;
	}
}
.even {
	background-color: @lightestGrey;
}
.intro-header {
	position: fixed;
	top: 0;
	width: 100%;
	height: @headerH * 3/4;
	color: #fff;
	background-color: @dark;
	text-align: center;
	font-size: @small;
	.container {
		position: relative;
	}
	.logo {
		font-size: large;
		width: @headerH * 2;
		margin: 0 auto;
		background: url('../images/logo_big.png') center @headerH * -1 no-repeat;
		height: @headerH;
		background-size: @headerH * 2 @headerH * 2;
	}
	.links {
		font-size: @normal;
		position: absolute;
		/*left: 0;*/
		top: @normal;
		/*margin-left: @padding;*/
		/*margin-top: @headerH / 2 - @large/4;*/
		span {
			margin-right: 1em;
			font-size: @normal;
			letter-spacing: 0.1em;
			line-height: @large;
		}
	}
	@icon: 2.5em;
	.icons {
		position: absolute;
		right: 0;
		/*left: 100%;*/
		top: 0;
		padding-right: 15px;
		/*margin-left: -1 * (@icon * 3 + 1.5em + @padding);*/
		margin-top: (@headerH * 3/4 - @icon) / 2;
		span {
			text-indent: 1000px;
			margin-left: 0.5em;
			width: @icon;
			height: @icon;
			display: inline-block;
		}
		.facebook {
			background: url('../images/social.png') 0 0 no-repeat;
			background-size: @icon * 3 @icon;
		}
		.twitter {
			background: url('../images/social.png') -1 * @icon 0 no-repeat;
			background-size: @icon * 3 @icon;
		}
		.google {
			background: url('../images/social.png') -2 * @icon 0 no-repeat;
			background-size: @icon * 3 @icon;
		}
	}
}
.footer {
	position: fixed;
	z-index: -1;
	bottom: 0;
	color: @light;
	padding: 40px 5%;
    text-align: left;
    a {
        color: @yellow;
    }
}