@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* adopted from https://github.com/jonikorpi/Golden-Grid-System/blob/master/GGS.less */
@line: 24;
@column: 100% / 18;
@font-size: 16;
@em:@font-size*1em;

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	min-height: 100%;
	font-size: 100%;
	font-family: 'Lato', Helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	font-size: @font-size / 16 * 1em;
	line-height: @line / @em;
}

/* font size: 36, 24, 16, 14, 12 px*/
@huge: 2.25em;
@large: 1.5em;
@normal: 1em;
@small: 0.875em;
@tiny: 0.75em;

#small {
	/* 14px / 18px */
	font-size: (@font-size * 0.875) / @em;
	line-height: (@line * 0.75) / (@font-size * 0.875) * 1em;
}

#normal {
	/* 16px / 24px */
	font-size: @font-size / @em;
	line-height: @line / @em; /* 24 */
}

#large, h2, h1 {
	/* 24 / 36px */
	font-size: 24 / @em;
	line-height: (@line*1.5) / 24 * 1em;
}

#huge {
	/* 36px / 48px */
	font-size: 36 / @em;
	line-height: (@line*2) / 36 * 1em;
}

/* colors */
@dark: #25282A;
@darkTrans: rgba(37, 40, 42, 0);
@light: #f8f7e3;
@yellow: #FFC61E;
@red: #7B2429;
@orange: #D86018;
@lightBlue: #D3E7F2;
@darkGrey: #666666;
@grey: #999999;

/*icons*/
#view-icon {
	background: url('../images/view_dark.png') no-repeat @yellow;
	color: @dark;
	display: inline-block;
	background-size: 2.250em;
	background-position-x: 0.875em;
	border-radius: 1.125em;
	margin: 0.5em 0.2em 0 0.2em;
	text-decoration: none;
	font-weight: 700;
}
#view-icon-single {
	padding: 0.375em 1em 0.5em 2.500em;
	background-position-y: 0.5em;
}
#view-icon-match {
	padding: 0.375em 1em 0.5em 3.625em;
	background-position-y: -1.250em;
}

/*common */
.bold {
	font-weight: 700;
}
.link {
	cursor: pointer;
}
.underline {
	text-decoration: underline;
}
.disabled {
	color: #999;
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}
input[type="radio"] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
}
@import 'intro';
@import 'vis';
