@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* font size: 24, 18, 16, 14, 12 px*/
@huge: 1.5em;
@large: 1.128em;
@normal: 1em;
@small: 0.875em;
@tiny: 0.75em;

/* colors */
@dark: #25282A;
@light: #ede9e1;

@yellow: #FFC61E;
@red: #a4111a;
@orange: #ee6411;

@black: #000;
@darkGrey: #666666;
@grey: #999999;
@lightGrey: #e5e5e5;
@lightestGrey: #fafafa;
@white: #fff;

/* refer vis-element.js */
@style: #ffc61e;
@abv: #d86018;
@brewery: #7c2529;
@country: #3f2021;
@vis-count: #f99b0c;
@vis-when: #f99b0c;
@vis-where-type: #e8dd21;
@vis-where-city: #f99b0c;
@vis-day: #ffc61e;
@user0: #e55d5d;
@user1: #8cc33c;

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Helvetica, arial, sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*icons*/
#view-icon-intro {
	background: url('../images/view_dark.png') no-repeat @yellow;
	display: inline-block;
	color: @dark;
}
#view-icon-vis {
	background: url('../images/view_dark.png') no-repeat @white;
	color: @dark;
}
#view-icon {
	background-size: 2.250em;
	background-position-x: 1em;
	border-radius: 1em;
	margin: 0.5em 0.1em 0 0.1em;
	text-decoration: none;
	font-weight: 700;
}
#view-icon-single {
	padding: 0.375em 1em 0.5em 2.375em;
	background-position-y: 0.62em;
}
#view-icon-match {
	padding: 0.375em 1em 0.5em 3.5em;
	background-position-y: -1.625em;
}

/*common */
.hide {
	display: none;
}
.bold {
	font-weight: 700;
}
.link {
	cursor: pointer;
}
.underline {
	text-decoration: underline;
}
.disabled {
	color: #999;
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.shadow {
    box-shadow: 0 0 6px fade(@dark, 50%);
}
.90p {
    width: 90%;
    margin: 0 auto;
}
.60p {
    width: 60%;
    margin: 0 auto;
}

@import 'mapbox';
@import 'intro';
@import 'vis';
@import 'd3';