@charset "UTF-8";
/*Montserrat*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* font size: 24, 20, 16, 24, 12 px*/
@huge: 1.5em;
@large: 1.25em;
@normal: 1em;
@small: 0.875em;
@tiny: 0.75em;

/* colors */
@dark: #25282A;
@light: #F8F7E3;
@yellow: #FFC61E;
@red: #7B2429;
@orange: #D86018;
@lightBlue: #D3E7F2;
@darkGrey: #666666;
@lightGrey: #e5e5e5;

/*icons*/
#view-icon-intro {
	background: url('../images/view.png') no-repeat @dark;
	color: #ffffff;
}
#view-icon-vis {
	background: url('../images/view_dark.png') no-repeat @lightBlue;
	color: @dark;
}
#view-icon {
	display: inline-block;
	background-size: 2.250em;
	background-position-x: 0.875em;
	border-radius: 1.125em;
	margin: 0.5em 0.2em 0 0.2em;
	text-decoration: none;
	font-weight: 700;
}
#view-icon-single {
	padding: 0.375em 1em 0.5em 2.500em;
	background-position-y: 0.5em;
}
#view-icon-match {
	padding: 0.375em 1em 0.5em 3.625em;
	background-position-y: -1.250em;
}

/*common */
.bold {
	font-weight: 700;
}
.link {
	cursor: pointer;
}
.underline {
	text-decoration: underline;
}
.disabled {
	color: #999;
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', Helvetica, arial, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

@import 'intro';
@import 'vis';
