<!DOCTYPE html>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<html>
<head>
<title>BEER Match - Powered by UNTAPPD</title>
<link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css" rel="stylesheet" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/style/style.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://beer.tany.kim"/>
<meta property="og:title" content="Beer Match: comparative visualization of personal beer taste and drinking behavior"/>
<meta property="og:site_name" content="Beer Match"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:description" content="Check this cool visualization of beer! See your beer taste and the match with your friends at http%3A%2F%2Fbeer.tany.kim"/>
<meta property="og:image" content="http://beer.tany.kim/images/ .png"/>
<meta property="og:image:secure_url" content="https://beer.tany.kim/images/logo.png"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:width" content="160"/>
<meta property="og:image:height" content="160"/>
</head>
<body>

<!-- footer -->
<div class="footer">
    <div class="slide">
        <div><img src="images/beer_match.png" width="150" height"30"></div>
        <div class="js-intro-slide link" data-value="2">PROJECT</div>
        <div class="js-intro-slide link" data-value="3">VISUALIZATIONS</div>
        <div class="js-intro-slide link" data-value="4">PRIVACY</div>
    </div>
    <div class="credit">
        <p>Powered by <a href="https://untappd.com/" target="_blank">Untappd.</a> Beer Match is not affiliated with or endorsed by Untappd.<br/>
        If you think this project is cool, please <a href="https://untappd.com/supporter" target="_blank">become a Untappd supporter.</a></p>
        <p>The color pallete used in Beer Match is inspired by <a href="http://txaber.net/beer-colors/" target="_blank">this.</a></p>
        <p>View source on <a href="https://github.com/tanykim/beer-match" target="_.blank">GitHub.</a>
        <p>© 2015. <a href="http://tany.kim" target="_blank">Tanyoung Kim.</a>&nbsp;&nbsp;<a href="http://www.twitter.com/tanykim" target="_blank">@tanykim</a>&nbsp;&nbsp;<a href="mailto:tanykim@gmail.com">tanykim@gmail.com</a>
        </p>
    </div>
</div>

<!-- intro -->
<div class="intro js-intro">
    <div class="intro-main-wrapper js-intro-contents-0">
        <div class="intro-main js-intro-main">
            LOADING...
        </div>
        <div class="untappd">
            <a href="https://untappd.com/" target="_blank"><img src="images/untappd.png" width="105" height="28" border="0"></a>
        </div>
    </div>
    <div class="intro-content js-intro-contents-2">
        <div class="container">
            <h2> BEER IS GOOD and FUN TO EXPLORE. </h2>
            <p>
                BEERxMATCH is a web application that visualizes <strong>personal beer check-in data</strong> from an iPhone/Android app <a href="https://untappd.com/" target="_blank">Untappd.</a>
            </p>
            <p>
                With Untappd, you can check in beers you drink: search your beer and rate it up to 5 stars. Of course, when you check in, timestamp is also saved. While checking in, you can add tag a location where you drink.Untappd also provides meta data of each beer - style, brewery, location of brewery, and ABV.
            </p>
        </div>
    </div>
    <div class="intro-content even js-intro-contents-3">
        <div class="container">
            <h2> BEYOND LOGGING. <br/> VISUALIZE YOUR BEERS and EVEN FRIENDS'.</h2>
            <p>
                Beer Match utilizes these fantastic data and <strong>visualizes your beer taste and drinking behaviors and patterns</strong>. You'll see how much and often you drink, what styles or breweries you like, your favorite beers, and when and where you drink. With these visualizations.
            <p/>
            <p>
                In addition to the visualization of a single Untappd user, Beer Match <strong>compares two users</strong>. Analyzing two users' beer taste, it shows the match score (100% is the soul mate of beer) and compares their drinking behavior and many more from many aspects.
            </p>
        </div>
    </div>
    <div class="intro-content js-intro-contents-4 js-intro-last">
        <div class="container">
            <h2> WE are PROUD that WE LOVE BEER, <br/> but WE DON'T KEEP or SHARE YOUR DATA.</h2>
            <p>Privacy</p>
        </div>
    </div>

    <!--overlay-->
    <div class="intro-header">
        <div class="header js-intro-header">
            <div class="links">
                <span class="js-intro-slide link" data-value="2">PROJECT</span>
                <span class="js-intro-slide link" data-value="3">VISUALIZATIONS</span>
                <span class="js-intro-slide link" data-value="4">PRIVACY</span>
            </div>
            <div class="icons">
                <span class="facebook js-social" data-value="facebook"><i class="fa fa-facebook fa-lg"></i></span>
                <span class="js-social" data-value="twitter"><i class="fa fa-twitter fa-lg"></i></span>
                <span class="js-social" data-value="google"><i class="fa fa-google-plus fa-lg"></i></span>
            </div>
        </div>
        <div class="logo"></div>
    </div>
</div>

<!-- match -->
<div class="vis js-match hide">
    <div class="vis-contents-wrapper js-match-wrapper">

        <!-- 0 match score & behavior-->
        <div class="vis-contents match-score js-match-contents-0">
            <ul class="score">
                <li class="name-left js-match-score-name-0">name</li>
                <li class="pic-left js-match-score-pic-0"></li>
                <li class="line-left"></li>
                <li class="percent">
                    <div class="percent-inner">
                        <span class="number js-match-score-number"></span>
                    </div>
                </li>
                <li class="line-right"></li>
                <li class="pic-right js-match-score-pic-1"></li>
                <li class="name-right js-match-score-name-1">name</li>
            </ul>
            <div class="by">
                <div class="elm">
                    <div class="title">Style</div>
                    <div class="number"><span class="bold js-match-score-style"> </span> %</div>
                </div>
                <div class="elm">
                    <div class="title">Distinctive Beers</div>
                    <div class="number"><span class="bold js-match-score-beer"> </span> %</div>
                </div>
                <div class="elm">
                    <div class="title">ABV</div>
                    <div class="number"><span class="bold js-match-score-abv"> </span> %</div>
                </div>
            </div>
        </div>

        <!-- 1 behavior -->
        <div class="vis-contents even match-behavior js-match-contents-1">
            <div class="vis-wrapper behavior-wrapper">
                <div class="wrapper-left">
                    <div id="vis-behavior" class="behavior js-match-svg"></div>
                </div>
                <div class="wrapper-right detail-wrapper">
                    <div class="detail-legend js-detail-title">Title</div>
                    <div id="vis-detail" class="detail js-match-svg"></div>
                    <div class="sub hide js-detail-sub">
                        <span class="total"><i class="fa fa-stop"></i></span>total check-ins
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 beers (dis/)agree -->
        <div class="vis-contents match-both js-match-contents-2">
            <div class="title">Distinctive beers</div>
            <div id="vis-distinctive" class="js-match-svg distinctive"></div>
            <div class="list-wrapper">
                <div class="list">
                    <div class="list-title">Beers You Two Agree</div>
                    <div class="list-beers">
                        <div class="list-beers-top">
                            <div class="list-title-sub"><i class="fa fa-thumbs-up user0"></i> Both of You Love <i class="fa fa-thumbs-up user1"></i></div>
                            <div class="js-both-0"></div>
                        </div>
                        <div>
                            <div class="list-title-sub"><i class="fa fa-thumbs-down user0"></i> Both of You Hate <i class="fa fa-thumbs-down user1"></i></div>
                            <div class="js-both-1"></div>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="list-title">Beers You Two Disagree</div>
                    <div class="list-beers">
                        <div class="list-beers-top">
                            <div class="list-title-sub"><i class="fa fa-thumbs-up user0"></i> Love - Hate <i class="fa fa-thumbs-down user1"></i></div>
                            <div class="js-both-2"></div>
                        </div>
                        <div>
                            <div class="list-title-sub"><i class="fa fa-thumbs-down user0"></i> Hate - Love <i class="fa fa-thumbs-up user1"></i></div>
                            <div class="js-both-3"></div>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="list-title">Beers You Both Drank</div>
                    <div class="list-beers">
                        <div>
                            <div class="js-both-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3 share styles -->
        <div class="vis-contents even match-styles js-match-contents-3">
            <div class="title js-styles-count"></div>
            <div id="vis-styles" class="js-match-svg styles"></div>
        </div>

        <!-- 4 when do we drink -->
        <div class="vis-contents match-time js-match-contents-4">
            <div class="vis-radio radio">
                <div>
                    <span class="link js-time-switch js-time-value" data-type="value" data-value="absolute"><i class="fa fa-dot-circle-o"></i> Check-in Count</span>
                    <span class="link js-time-switch js-time-value" data-type="value" data-value="relative"><i class="fa fa-circle-o"></i> Relative Ratio</span>
                </div>
                <div>
                    <span class="link js-time-switch js-time-group" data-type="group" data-value="day"><i class="fa fa-dot-circle-o"></i> by Day</span>
                    <span class="link js-time-switch js-time-group" data-type="group" data-value="hour"><i class="fa fa-circle-o"></i> by Hour</span>
                </div>
                <div>
                    <span class="link js-time-switch js-time-type" data-type="type" data-value="bars"><i class="fa fa-dot-circle-o"></i> Bars</span>
                    <span class="link js-time-switch js-time-type" data-type="type" data-value="bubble"><i class="fa fa-circle-o"></i> Bubble</span>
                </div>
            </div>
            <div id="vis-time" class="js-match-svg time"></div>
        </div>

        <!-- 5 where do we drink -->
        <div class="vis-contents even match-venues js-match-contents-5">
            <div class="vis-radio">
                <span class="link js-venues-switch" data-value="abs"><i class="fa fa-dot-circle-o"></i> Check-in Count</span>
                <span class="link js-venues-switch" data-value="rel"><i class="fa fa-circle-o"></i> Relative Ratio</span>
            </div>
            <div class="vis-wrapper venues-wrapper">
                <div class="title">Check-ins with Location</div>
                <div id="vis-publicRatio" class="js-match-svg publicRatio"></div>
                <div id="vis-topTypes" class="js-match-svg topTypes"></div>
                <div class="commonVenues-title js-match-svg js-commonVenues-title"></div>
                <div id="vis-commonVenues" class="js-match-svg commonVenues"></div>
            </div>
        </div>
    </div>
</div>

<!-- single -->
<div class="vis js-single hide">

    <!-- vis contents -->
    <div class="vis-contents-wrapper js-single-wrapper">

        <!-- 0 basic stats -->
        <div class="vis-contents single-count js-single-contents-0">
            <div class="vis-radio radio">
                <span data-value="day" class="link day js-count-period js-count-period-day"><i class="fa fa-circle-o"></i> Day </span>
                <span data-value="week" class="link week js-count-period js-count-period-week"><i class="fa fa-circle-o"></i> Week </span>
                <span data-value="month" class="link month js-count-period js-count-period-month"><i class="fa fa-circle-o"></i> Month </span>
            </div>
            <div id="vis-frequency" class="frequency js-single-svg"></div>
            <div class="vis-wrapper calendar-wrapper">
                <div class="sober js-count-sober"></div>
                <div id="vis-calendar" class="calendar js-single-svg"></div>
            </div>
        </div>

        <!-- 1 ratings -->
        <div class="vis-contents even single-ratings js-single-contents-1">
            <div class="vis-radio radio">
                <span data-value="style" class="link style selected js-ratings-title"><i class="fa fa-dot-circle-o"></i> Style </span>
                <span data-value="abv" class="link abv js-ratings-title"><i class="fa fa-circle-o"></i> ABV </span>
                <span data-value="brewery" class="link brewery js-ratings-title"><i class="fa fa-circle-o"></i> Brewery </span>
                <span data-value="country" class="link country js-ratings-title"><i class="fa fa-circle-o"></i> Country </span>
            </div>
            <div class="vis-wrapper">
                <div class="wrapper-left">
                    <div id="vis-categories" class="categories js-single-svg"></div>
                    <div class="average">Average Score: <span class="js-score-avg"></span></div>
                    <div id="vis-score" class="score js-single-svg"></div>
                </div>
                <div class="wrapper-right ratings-wrapper">
                    <div class="vis-radio-sub radio-sortBy">
                        Sort By
                        <span data-value="count" class="link count selected js-ratings-sortBy"><i class="fa fa-dot-circle-o"></i>  Count </span>
                        <span data-value="score" class="link js-ratings-sortBy"><i class="fa fa-circle-o"></i> Average Score </span>
                        <span data-value="name" class="link js-ratings-sortBy"><i class="fa fa-circle-o"></i> A to Z </span>
                    </div>
                    <div id="vis-ratings" class="ratings js-single-svg"></div>
                </div>
            </div>
        </div>

        <!-- 2 beers like and hate -->
        <div class="vis-contents single-beers js-single-contents-2">
            <div class="vis-wrapper">
                <div class="wrapper-left">
                    <div class="title">
                        <div class="name js-beers-name"></div>
                        <div class="numbers">
                            <span class="score js-beers-score"></span>
                            <span class="count">
                                <i class="fa fa-check-square-o"></i> total
                                <span class="count-number js-beers-count"></span>
                                <span class="js-beers-times"></span>
                            </span>
                        </div>
                        <div class="info">
                            <span class="style js-beers-style"></span>
                            <span class="abv js-beers-abv"></span>
                            <span class="brewery js-beers-brewery"></span>
                            <span class="country js-beers-country"></span>
                        </div>
                    </div>
                    <div id="vis-beers" class="beers js-single-svg"></div>
                </div>
                <div class="wrapper-right list-wrapper js-beers-images">
                    <div class="list">
                        <div class="list-title js-beers-loves"><i class="fa fa-thumbs-up"></i> Beers Your Love</div>
                        <div class="list-beers js-single-svg js-beers-loves-list"></div>
                    </div>
                    <div class="list">
                        <div class="list-title js-beers-hates"><i class="fa fa-thumbs-down"></i> Beers Your Hate</div>
                        <div class="list-beers js-single-svg js-beers-hates-list"></div>
                    </div>
                    <div class="list">
                        <div class="list-title js-beers-mosts"><i class="fa fa-heart"></i> Beers You Drink Most</div>
                        <div class="list-beers js-single-svg js-beers-mosts-list"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3 when -->
        <div class="vis-contents even single-when js-single-contents-3">
            <div class="vis-radio radio">
                <span class="link selected js-when-switch" data-value="matrix"><i class="fa fa-dot-circle-o"></i> Both Day and Hour</span>
                <span class="link js-when-switch" data-value="day"><i class="fa fa-circle-o"></i> Only Day</span>
                <span class="link js-when-switch" data-value="hour"><i class="fa fa-circle-o"></i> Only Hour</span>
            </div>
            <div id="vis-when" class="when js-single-svg"></div>
        </div>

        <!-- 4 where -->
        <div class="vis-contents single-where js-single-contents-4">
            <div class="vis-wrapper">
                <div class="noData js-where-noData hide">No public venue data exist.</div>
                <div id="vis-map" class="map js-where-map"></div>
                <div id="vis-where" class="where js-single-svg"></div>
            </div>
        </div>

        <!-- 5 when & where -->
        <div class="vis-contents even single-whenWhere js-single-contents-5">
            <div class="vis-wrapper">
                <div class="wrapper-left wrapper-day">
                    <div class="day-legend">
                        <span class="total"><i class="fa fa-play fa-rotate-90"></i></span> Total Check-ins <br/>
                        <span class="part"><i class="fa fa-play fa-rotate-90"></i></span> Check-ins with Location
                    </div>
                    <div id="vis-day" class="day js-single-svg"></div>
                </div>
                <div class="wrapper-right wrapper-timeline">
                    <div id="vis-timeline" class="timeline js-single-svg"></div>
                </div>
            </div>
        </div>
    </div> <!-- vis contents -->
</div> <!-- vis -->

<!-- header -->
<div class="js-single js-match vis-header hide">
    <div class="home js-goHome link"></div>
    <div class="wrapper js-vis-header"></div>
    <div class="remove js-remove link hide">
        <i class="fa fa-trash-o"></i>
    </div>
    <div class="goSingles js-go-single hide">
        <!-- See the single view of -->
        <span class="goSingle goSingle0 js-goSingle link" data-value="0">
            </i><i class="fa fa-user"></i> <span class="js-goSingle-0">user0</span>
        </span>
        <!-- or -->
        <span class="goSingle goSingle1 js-goSingle link" data-value="1">
            <i class="fa fa-user"></i> <span class="js-goSingle-1">user1</span>
        </span>
    </div>
    <div class="goMatch js-go-match link hide">
        <i class="fa fa-user-times"></i><i class="fa fa-user"></i> See Match
    </div>
</div>

<!--vis menu -->
<div class="vis-title-overlaid js-nav js-title-overlaid" style="display:none;">title</div>
<div class="vis-sessions js-sessions" style="display:none;">
    <div class="sessions-title">Remove datasets</div>
    <ul class="js-sessions-items">
    </ul>
</div>
<div class="vis-nav-wrapper js-nav" style="display:none;">
    <ul class="nav-dots">
        <li class="item selected js-slide js-nav-0" data-value="0"></li>
        <li class="item js-slide js-nav-1" data-value="1"></li>
        <li class="item js-slide js-nav-2" data-value="2"></li>
        <li class="item js-slide js-nav-3" data-value="3"></li>
        <li class="item js-slide js-nav-4" data-value="4"></li>
        <li class="item js-slide js-nav-5" data-value="5"></li>
    </ul>
    <div class="nav-toggle js-nav-open"><i class="fa fa-chevron-right"></i></div>
    <ul class="vis-nav-expand js-nav-expand hide">
        <li class="item js-slide selected js-nav-0 js-nav-title-0" data-value="0">title0</li>
        <li class="item js-slide js-nav-1 js-nav-title-1" data-value="1">title1</li>
        <li class="item js-slide js-nav-2 js-nav-title-2" data-value="2">title2</li>
        <li class="item js-slide js-nav-3 js-nav-title-3" data-value="3">title3</li>
        <li class="item js-slide js-nav-4 js-nav-title-4" data-value="4">title4</li>
        <li class="item js-slide js-nav-5 js-nav-title-5" data-value="5">title5</li>
    </ul>
</div>

<!-- intro render templates -->
<script type="text/template" id="intro-start">
    <div class="status js-status"><%= warning %></div>
    <% if (friends) { %>
        <select class="list js-friend-select">
            <option>Select a user name from <%= firstUserId + '\'' %>s friends</option>
        <%  _.each(friends, function (f) { %>
            <option value="<%= f %>"><%= f %></option>
        <% }); %>
        </select>
    <% } %>
    <div class="desc"><%= desc %></div>
    <% if (!apiError) { %>
        <input type="text" class="input js-intro-input" value="<%= userId %>" <%= userId ? ' disabled' : '' %> >
    <% } %>
    <% if (sessions && !firstUserId) { %>
        <div class="sessions">
            <select class="list js-session-select" <%= (userId && !apiError) ? ' disabled' : '' %>>
                <option>Or select a previously downloaded dataset</option>
            <%  _.each(sessions, function (s) { %>
                <option value="<%= s %>"><%= s %></option>
            <% }); %>
        </div>
    </select>
    <% } %>
    <% if (firstUserId) { %>
        <div class="start-single">
            Or
            <span class="view-icon js-start-single link underline">
                <i class="fa fa-user"></i> See <%= firstUserId %> only
            </span>
        </div>
    <% } else { %>
    <div class="msg">
        Not an UNTAPPD user? <br/>
        See examples of
        <span class="view-icon js-start-sample-single link"><i class="fa fa-user"></i> Single user</span>
        or <span class="view-icon js-start-sample-match link"><i class="fa fa-user-times"></i><i class="fa fa-user"></i> match</span>
        visualization
    </div>
    <% } %>
</script>

<script type="text/template" id="intro-userinfo">
    <div class="status">We Found You!</div>
    <div class="user">
        <div class="pic" style="background-image: url(<%= avatar %>)"></div>
        <div class="name"><%= username %></div>
        <div class="location"><%= address %></div>
        <div class="timezone"><%= timezone %></div>
        <div class="js-timezone-list <%= address ? ' hide' : '' %>">
            <select class="list js-timezone-select">
                <option> Select a timezone </option>
                <option value="Pacific/Midway">(UTC-11:00) Midway Island, Samoa</option>
                <option value="America/Adak">(UTC-10:00) Hawaii-Aleutian</option>
                <option value="Etc/GMT+10">(UTC-10:00) Hawaii</option>
                <option value="Pacific/Marquesas">(UTC-09:30) Marquesas Islands</option>
                <option value="Pacific/Gambier">(UTC-09:00) Gambier Islands</option>
                <option value="America/Anchorage">(UTC-09:00) Alaska</option>
                <option value="America/Ensenada">(UTC-08:00) Tijuana, Baja California</option>
                <option value="Etc/GMT+8">(UTC-08:00) Pitcairn Islands</option>
                <option value="America/Los_Angeles">(UTC-08:00) Pacific Time (US & Canada)</option>
                <option value="America/Denver">(UTC-07:00) Mountain Time (US & Canada)</option>
                <option value="America/Chihuahua">(UTC-07:00) Chihuahua, La Paz, Mazatlan</option>
                <option value="America/Dawson_Creek">(UTC-07:00) Arizona</option>
                <option value="America/Belize">(UTC-06:00) Saskatchewan, Central America</option>
                <option value="America/Cancun">(UTC-06:00) Guadalajara, Mexico City, Monterrey</option>
                <option value="Chile/EasterIsland">(UTC-06:00) Easter Island</option>
                <option value="America/Chicago">(UTC-06:00) Central Time (US & Canada)</option>
                <option value="America/New_York">(UTC-05:00) Eastern Time (US & Canada)</option>
                <option value="America/Havana">(UTC-05:00) Cuba</option>
                <option value="America/Bogota">(UTC-05:00) Bogota, Lima, Quito, Rio Branco</option>
                <option value="America/Caracas">(UTC-04:30) Caracas</option>
                <option value="America/Santiago">(UTC-04:00) Santiago</option>
                <option value="America/La_Paz">(UTC-04:00) La Paz</option>
                <option value="Atlantic/Stanley">(UTC-04:00) Faukland Islands</option>
                <option value="America/Campo_Grande">(UTC-04:00) Brazil</option>
                <option value="America/Goose_Bay">(UTC-04:00) Atlantic Time (Goose Bay)</option>
                <option value="America/Glace_Bay">(UTC-04:00) Atlantic Time (Canada)</option>
                <option value="America/St_Johns">(UTC-03:30) Newfoundland</option>
                <option value="America/Araguaina">(UTC-03:00) UTC-3</option>
                <option value="America/Montevideo">(UTC-03:00) Montevideo</option>
                <option value="America/Miquelon">(UTC-03:00) Miquelon, St. Pierre</option>
                <option value="America/Godthab">(UTC-03:00) Greenland</option>
                <option value="America/Argentina/Buenos_Aires">(UTC-03:00) Buenos Aires</option>
                <option value="America/Sao_Paulo">(UTC-03:00) Brasilia</option>
                <option value="America/Noronha">(UTC-02:00) Mid-Atlantic</option>
                <option value="Atlantic/Cape_Verde">(UTC-01:00) Cape Verde Is.</option>
                <option value="Atlantic/Azores">(UTC-01:00) Azores</option>
                <option value="Europe/Belfast">(UTC) Greenwich Mean Time : Belfast</option>
                <option value="Europe/Dublin">(UTC) Greenwich Mean Time : Dublin</option>
                <option value="Europe/Lisbon">(UTC) Greenwich Mean Time : Lisbon</option>
                <option value="Europe/London">(UTC) Greenwich Mean Time : London</option>
                <option value="Africa/Abidjan">(UTC) Monrovia, Reykjavik</option>
                <option value="Europe/Amsterdam">(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                <option value="Europe/Belgrade">(UTC+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                <option value="Europe/Brussels">(UTC+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                <option value="Africa/Algiers">(UTC+01:00) West Central Africa</option>
                <option value="Africa/Windhoek">(UTC+01:00) Windhoek</option>
                <option value="Asia/Beirut">(UTC+02:00) Beirut</option>
                <option value="Africa/Cairo">(UTC+02:00) Cairo</option>
                <option value="Asia/Gaza">(UTC+02:00) Gaza</option>
                <option value="Africa/Blantyre">(UTC+02:00) Harare, Pretoria</option>
                <option value="Asia/Jerusalem">(UTC+02:00) Jerusalem</option>
                <option value="Europe/Minsk">(UTC+02:00) Minsk</option>
                <option value="Asia/Damascus">(UTC+02:00) Syria</option>
                <option value="Europe/Moscow">(UTC+03:00) Moscow, St. Petersburg, Volgograd</option>
                <option value="Africa/Addis_Ababa">(UTC+03:00) Nairobi</option>
                <option value="Asia/Tehran">(UTC+03:30) Tehran</option>
                <option value="Asia/Dubai">(UTC+04:00) Abu Dhabi, Muscat</option>
                <option value="Asia/Yerevan">(UTC+04:00) Yerevan</option>
                <option value="Asia/Kabul">(UTC+04:30) Kabul</option>
                <option value="Asia/Yekaterinburg">(UTC+05:00) Ekaterinburg</option>
                <option value="Asia/Tashkent">(UTC+05:00) Tashkent</option>
                <option value="Asia/Kolkata">(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                <option value="Asia/Katmandu">(UTC+05:45) Kathmandu</option>
                <option value="Asia/Dhaka">(UTC+06:00) Astana, Dhaka</option>
                <option value="Asia/Novosibirsk">(UTC+06:00) Novosibirsk</option>
                <option value="Asia/Rangoon">(UTC+06:30) Yangon (Rangoon)</option>
                <option value="Asia/Bangkok">(UTC+07:00) Bangkok, Hanoi, Jakarta</option>
                <option value="Asia/Krasnoyarsk">(UTC+07:00) Krasnoyarsk</option>
                <option value="Asia/Hong_Kong">(UTC+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                <option value="Asia/Irkutsk">(UTC+08:00) Irkutsk, Ulaan Bataar</option>
                <option value="Australia/Perth">(UTC+08:00) Perth</option>
                <option value="Australia/Eucla">(UTC+08:45) Eucla</option>
                <option value="Asia/Tokyo">(UTC+09:00) Osaka, Sapporo, Tokyo</option>
                <option value="Asia/Seoul">(UTC+09:00) Seoul</option>
                <option value="Asia/Yakutsk">(UTC+09:00) Yakutsk</option>
                <option value="Australia/Adelaide">(UTC+09:30) Adelaide</option>
                <option value="Australia/Darwin">(UTC+09:30) Darwin</option>
                <option value="Australia/Brisbane">(UTC+10:00) Brisbane</option>
                <option value="Australia/Hobart">(UTC+10:00) Hobart</option>
                <option value="Asia/Vladivostok">(UTC+10:00) Vladivostok</option>
                <option value="Australia/Lord_Howe">(UTC+10:30) Lord Howe Island</option>
                <option value="Etc/GMT-11">(UTC+11:00) Solomon Is., New Caledonia</option>
                <option value="Asia/Magadan">(UTC+11:00) Magadan</option>
                <option value="Pacific/Norfolk">(UTC+11:30) Norfolk Island</option>
                <option value="Asia/Anadyr">(UTC+12:00) Anadyr, Kamchatka</option>
                <option value="Pacific/Auckland">(UTC+12:00) Auckland, Wellington</option>
                <option value="Etc/GMT-12">(UTC+12:00) Fiji, Kamchatka, Marshall Is.</option>
                <option value="Pacific/Chatham">(UTC+12:45) Chatham Islands</option>
                <option value="Pacific/Tongatapu">(UTC+13:00) Nukualofa</option>
                <option value="Pacific/Kiritimati">(UTC+14:00) Kiritimati</option>
            </select>
    </div>
    <div class="start-download js-start <%= address ? 'link' : 'disabled' %>">
        <%= address ? '<i class="fa fa-cloud-download"></i> Download' : 'Select Timezone First' %>
    </div>
    <div class="progress js-progress hide"></div>
</script>

<script type="text/template" id="intro-option">
    <div class="status"><%= msg %></div>
    <div class="user">
        <div class="pic" style="background-image: url(<%= avatar %>)"></div>
        <div class="name"><%= username %></div>
    </div>
    <div class="start-single">
        <span class="view-icon js-start-single link">
            <i class="fa fa-user"></i> See <%= username %> only
        </span>
    </div>
    <div>
        <span class="view-icon js-start-match link">
            <i class="fa fa-user-times"></i><i class="fa fa-user"></i> See match
        </span>
    </div>
</script>

<!-- vis header templates -->
<script type="text/template" id="header-single">
    <div class="pic" style="background-image: url(<%= avatar %>)"></div>
    <ul class="profile hidden-xs">
        <li class="item">
            <span class="name"><%= name %></span>
            <% if (address) { %>
                <span class="location"> <%= address %></span>
            <% } %>
        </li>
        <li class="item checkin"><i class="fa fa-check-square-o fa-lg"></i> <span class="emph"><%= checkinCount %></span> Check-ins</li>
    </ul>
</script>

<script type="text/template" id="header-match">
    <div class="pic pic0" style="background-image: url(<%= avatar0 %>)"></div>
    <div class="x"><i class="fa fa-times fa-lg"></i></div>
    <div class="pic pic1" style="background-image: url(<%= avatar1 %>)"></div>
    <div class="names"><%= name0 %> <span class="and">&</span> <%= name1 %></div>
</script>

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<script data-main="/script/main" src="/script/require.js"></script>

</body>
</html>
